body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

span {
  color: #ff66b3;
  padding: 5px;
}

body {
  margin: 0;
  background: #80ffd4;
  min-width: 960px;
}

.experience {
  background-color: #fff;
}

.edu {
  background-color: #ff66b3;
}

.project {
  background-color: #66e0ff;
}

.map {
  background-color: #80ffd4;
}

#mapDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
  width: 90%;
  height: 40%;
  margin: 10px;
  padding: 10px;

}
rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #80ffd4;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #ff66b3;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #ff66b3;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #80d5ff;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

em {
  color: #009999;
}


.date-text {
  font-style: bold;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: bold;
  font-size: 14px;
  color: #009999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #009999;
  line-height: 21px;
}

a {
  font-style: bold;
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: bold;
  font-size: 18px;
  color: #80ffd4;
  line-height: 28px;
}

#skills-h3 {
  color: #1199c3;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

#lets-connect {
  text-align: center;
}

.orange {
  background-color: #66e0ff;
}

.orange-text {
  color: #66e0ff;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #ffccff;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #ff66b3;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
  color: #80ffd4;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex-box;
}

.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

.row-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-box-contacts {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 12%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
